body {
    background: rgb(15, 15, 15);
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

#rotateBtnsMenu {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

#rotateBtnsMenu > button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    #rotateBtnsMenu {
        display: unset;
    }
}